/* root color */
:root {
    --background-color: #A60303;
    --background-color-2: #F21905;
    --prime-color: #788C2E;
    --prime-color-2: #2C5916;
    --font-color: #0D2601;
    --snowflakes: antiquewhite;
}

/* Basis-Styles für den Body */
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

/* Container-Layout */
.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 3rem;
    box-sizing: border-box;
    height: calc(90vh); /* erzeugt sichtbaren Rand oben & unten */
}

/* Box */
.box {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Schatten unten + rechts mit Root-Farbe */
    box-shadow: 6px 6px 15px var(--prime-color);
}

/* image box */
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* kein Verzerren, perfekter Zuschnitt */
    border-radius: 10px;
}

/* Textbox */
.notification {
    background: var(--background-color-2);
    border-radius: 10px;
    padding: 2rem;
    color: var(--font-color);
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.4;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;  /* WICHTIG: Gleich groß wie image */
}



/* Responsive – ab Tablet untereinander */
@media (max-width: 768px) {
  body {
      overflow: auto;
  }

  .container {
      flex-direction: column;
      height: auto;
      gap: 2rem;
  }
}

/* Schneeflocken-Stil */
.snowflake {
    position: fixed;
    top: -10px;
    color: var(--snowflakes);
    font-size: 1em;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
}

/* Schneeflocken-Fall-Animation */
@keyframes fall {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(110vh);
    }
}
